@page
@model WebApplicationAssignment1.Pages.IntroModel
@{
    ViewData["Title"] = "Intro";
}
<section>
    <div class="text-center">
        <h3>My name is <b>John Oluwale</b></h3>
    </div>
    <form class="text-center">
        <input type="number" name="firstnumber" value="" /><br />
        <input type="number" name="secondnumber" value="" /><br />
        <input type="text" name="result" value="" /><br />
        <input type="button" value="submit" /> 
    </form>
</section>

@section Section{
    <div class="text-center">
        <p>This is the created section in the _Layout file</p>
    </div>   
}

